.BACKUP-GIT/
.BROKEN-GIT/
build/
classes/
/cobertura.ser
/*DB.*
*Db.properties
*Db.script
.DS_Store
.git/
.gradle/
.idea/
*.iml
.insync-trash/
*.ipr
*.iws
/.link_to_grails_plugins/
/*.log
out/
/plugin.xml
.settings
.sdkman/
sdkman/
stacktrace.log
.*.swp
target/
target-eclipse/
web-app/plugins/
web-app/WEB-INF/classes
/*.zip
